<div class="conteiner mt-5">
    <div class="row">
        <div class="col-lg-11 mx-auto text-center">
            <div class="card">
                <div class="card-body text-center">
                    <table class="table table-hover mt-3"  >
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Email</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{usuario.nombreUsuario}}</td>
                            <td>{{usuario.apePaterno}}</td>
                            <td>{{usuario.apeMaterno}}</td>
                            <td>{{usuario.edad}}</td>
                            <td>{{usuario.genero}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.empresa}}</td>
                            <td>{{usuario.rol}}</td>
                            <td>{{usuario.status}}</td>
                            <td>
                                <i [routerLink]="['/editar-user',usuario._id]" class="fa-solid fa-user-pen text-primary"></i>
                                <i class="fa-sharp fa-solid fa-user-slash text-danger" (click)="eliminarUsuario(usuario._id)"></i>
                                <i class="fa-sharp fa-solid fa-user text-success" (click)="eliminarUsuario(usuario._id)"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
